= form_for @payment, html: {class: 'form-horizontal'} do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :amount, class: 'col-md-2 control-label'
    .col-md-10
      = f.number_field :amount, class: 'form-control input-lg'

  .form-group
    = f.label :place, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :place, class: 'form-control'
  .form-group
    = f.label :comment, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :comment, class: 'form-control'
  .form-group
    = f.label :paid_at, class: 'col-md-2 control-label'
    .col-md-10.datetime-select
      = f.datetime_select :paid_at, {}, class: 'form-control'
  .form-group
    = f.label :sub_category_id, class: 'col-md-2 control-label'
    .col-md-10
      = f.grouped_collection_select :sub_category_id, Category.all, :sub_categories, :name, :id, ->(_) { "#{_.category.name}: #{_.name}" }, {}, class: 'form-control'
  .form-group
    = f.label :account_id, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :account_id, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-default'
