= form_for @payment, html: {class: 'payment_form form-horizontal', data: {id: @payment.id}} do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :amount, class: 'col-md-2 control-label'
    .col-md-10
      = f.number_field :amount, class: 'form-control input-lg'

  .form-group.payment-place-field
    = f.label :place_name, class: 'col-md-2 control-label'
    .col-md-10
      .place_id_field.form-control{style: @payment.place ? '' : 'display: none;'}
        - if @payment.place
          = @payment.place.name
          = f.hidden_field :place_id
      .place_name_field{style: @payment.place && 'display: none;'}
        - if @payment.place
          = f.text_field :place_name, class: 'form-control', value: ''
        - else
          = f.text_field :place_name, class: 'form-control'
        .place_name_candidates
  .form-group
    = f.label :comment, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :comment, class: 'form-control'
  .form-group
    = f.label :paid_at, class: 'col-md-2 control-label'
    .col-md-10.datetime-select
      = f.datetime_select :paid_at, {}, class: 'form-control'
  .form-group
    = f.label :sub_category_id, class: 'col-md-2 control-label'
    .col-md-10
      = f.grouped_collection_select :sub_category_id, Category.all, :sub_categories, :name, :id, ->(_) { "#{_.category.name}: #{_.name}" }, {}, class: 'form-control'
  .form-group
    = f.label :fixed, class: 'col-md-2 control-label'
    .col-md-10
      = f.check_box :fixed
  .form-group
    = f.label :account_id, class: 'col-md-2 control-label'
    .col-md-10.btnish-radio
      = f.collection_radio_buttons :account_id, Account.all, :id, ->(_) { "<i class=\"icon-#{_.icon}\"></i> ".html_safe + _.name }
  .actions
    = f.submit 'Save', class: 'btn btn-default'
