%p
  %b Place:
  = @payment.place.name
%p
  %b Amount:
  = @payment.amount
%p
  %b Comment:
  = @payment.comment
%p
  %b Paid at:
  = @payment.paid_at
%p
  %b Category:
  #{@payment.category.name} - #{@payment.sub_category.name}
%p
  %b Account:
  - if @payment.account
    = @payment.account.name

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
