= form_for @category, html: {class: 'category_form form-horizontal', data: {id: @category.id}} do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :budget, class: 'col-md-2 control-label'
    .col-md-10
      = f.number_field :budget, class: 'form-control'
  .form-group
    = f.label :order, class: 'col-md-2 control-label'
    .col-md-10
      = f.number_field :order, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
